@using TechJobs6Persistent.Models
@model List<TechJobs6Persistent.Models.Employer>

@foreach(Employer employer in Model)
{
    <h1>Employer: @employer.Id</h1>

    <div>
        <p>Name: @employer.Name</p>
        <p>Location: @employer.Location</p>
    </div>
}